* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disperse-btn {
  background-color: blue;
  display: block;
  width: 100%;
  height: 50px;
  border: 0px;
  outline: 0px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  margin-bottom: 40px;
}
.disperse-btn:focus {
  background-color: rgb(40, 40, 162);
}
.disperse-errorMessage svg {
  height: 30px;
  width: 30px;
}
.disperse-errorMessage {
  border: 2px solid red;
  padding: 10px;
  width: 100%;
  color: red;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.disperse-errorMessage div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.disperse-successMessage {
  border: 2px solid green;
  padding: 10px;
  width: 100%;
  color: green;
  border-radius: 10px;
  margin-bottom: 10px;
}
.disperse-errorMessage-duplicacy {
  padding: 10px;
  width: 100%;
  color: red;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.disperse-errorMessage-duplicacy > div:last-child {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.disperse-errorMessage-duplicacy span {
  cursor: pointer;
}
.disperse-errorMessage-duplicacy span:nth-child(2) {
  height: 25px;
  width: 2px;
  background-color: red;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}
.disperse-errorMessage span {
  display: block;
  height: auto;
}
.line-number-textarea {
  width: 95vw;
  height: auto;
  margin: 10px;
  background-color: rgb(236, 239, 248);
  border: 0px;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.line-number-textarea > div:first-child {
  width: 40px;
  border-right: 1px solid lightGray;
  padding: 10px;
}
.line-number-textarea > div:last-child {
  flex: 1;
}
textarea {
  width: 100%;
  height: 100%;
  background-color: rgb(236, 239, 248);
  border: 0px;
  resize: none;
  padding: 10px;
}
textarea:focus {
  outline: 0;
  border-radius: 3px;
}
